body {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    margin: 0;
    padding: 0;
}

nav ul {
    margin: 0;
    /* background: linear-gradient(to right, #ae8625, #f7ef8a, #d2ac47, #edc967); */
    list-style-type: none;
    padding: 0;
    background-color: #f5f5dc;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: #ae8625;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    transition: color 0.2s ease-in-out;
}

nav li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

nav li a:hover::before {
    visibility: visible;
    width: 100%;
}

nav li a:hover {
    color: #d2ac47;
}

section {
    padding: 20px;
    margin-top: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

